
*.pyc
.DS_Store
.idea
build/
data/*/data
models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/checkpoints/
models/metrics/*.csv
data/sent140/data/embs.json
_build/
_templates/
autodoc/
data/*/meta/
data/synthetic/meta/dir-checksum.md5
data/synthetic/meta/sampling_seed.txt
data/synthetic/meta/split_seed.txt
/models/sent140/glove.6B.300d.txt
models/metrics/raw_results/
models/metrics/*/*.csv
*/result/
*/.ipynb_checkpoints
*/metrics/figs/
/experiments/results/*
experiments/results_femnist1/*
experiments/figs/
experiments/log
experiments/nohup.out
experiments/results/*
/FedMA/data/cifar10/cifar-10-batches-py/
/FedMA/data/cifar10/cifar-10-python.tar.gz
/experiments/saved_models/

